.item {
  margin-bottom: 5px;
}

.author {
  margin-bottom: 5px;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #ec625fcb;
  background-image: linear-gradient(
    90deg,
    #6eb9fc 5%,
    #f888d2 45%,
    #fd957d 85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.review {
  text-align: justify;

  padding: 5px;
  background-image: linear-gradient(
    90deg,
    #6eb9fc 5%,
    #f888d2 45%,
    #fd957d 85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
