.movies {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.about {
  margin-left: 20px;
}

.overview {
  color: #e3f309cb;
  font-size: 20px;
  font-weight: 600;
}

.description {
  display: block;
  margin-top: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.navigation {
  padding-bottom: 15px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.information {
  text-align: center;
  font-size: 24px;
  background-image: linear-gradient(
    90deg,
    #6eb9fc 5%,
    #f888d2 45%,
    #fd957d 85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.activeLink {
  color: #e3f309cb;
  font-weight: 500;
  font-size: 20px;
  background-image: linear-gradient(
    90deg,
    #6eb9fc 5%,
    #f888d2 45%,
    #fd957d 85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.button {
  min-width: 150px;
  margin: 10px 0;
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid #e74c3c;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.95em;
  font-weight: 600;
  line-height: 1;
  background-color: #2f3343ff;
  border-color: #2f3343ff;
  border-radius: 8px;
  color: #fff;
  transition: all 150ms ease-in-out;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.356);
  color: #ec625f;
}

.button:hover,
.button:focus {
  outline: 0;
}

.mainTitle {
  margin-top: -10px;
  color: #ec625fcb;
  background-image: linear-gradient(
    90deg,
    #6eb9fc 5%,
    #f888d2 45%,
    #fd957d 85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  margin-bottom: 5px;
  color: #ec625fcb;
  background-image: linear-gradient(
    90deg,
    #6eb9fc 5%,
    #f888d2 45%,
    #fd957d 85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.genre {
  display: flex;
  align-items: center;
  font-style: italic;
  background-image: linear-gradient(
    90deg,
    #6eb9fc 5%,
    #f888d2 45%,
    #fd957d 85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.genre li:not(:last-child)::after {
  content: ',';
  margin-right: 5px;
}

.score {
  margin-top: -10px;
  margin-bottom: 20px;
  font-style: italic;
  background-image: linear-gradient(
    90deg,
    #6eb9fc 5%,
    #f888d2 45%,
    #fd957d 85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
