.form {
  margin: 30px auto 20px;
  text-align: center;
}

.input {
  padding: 8px 20px;
  border-radius: 8px;
  outline: #ec625f;
  border-color: transparent;
  background-color: rgb(39, 43, 56);
  color: #fff;
  max-width: 650px;
  height: 23px;
}

.button {
  margin: 0px 10px 10px;
  padding: 10px 20px 10px;
  background-color: transparent;
  border: 1px solid #e74c3c;
  cursor: pointer;
  font-size: 0.95em;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  /* background-color: #e74c3c; */
  border-color: #e74c3c;
  border-radius: 8px;
  color: #fff;
  background: linear-gradient(90deg, #6eb9fc 5%, #f888d2 45%, #fd957d 85%);
  transition: all 150ms ease-in-out;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.356);
  color: #aaa;
}

.button:hover,
.button:focus {
  outline: 0;
}
