.main {
  padding: 10px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: #ec625f;
  background-color: #2aa5a0;
  background-image: linear-gradient(
    90deg,
    #6eb9fc 5%,
    #f888d2 45%,
    #fd957d 85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-left: 220px;
  width: 600px;
  font-size: 20px;
  letter-spacing: 0.14em;
  align-items: center;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-image: linear-gradient(
    90deg,
    #6eb9fc 5%,
    #f888d2 45%,
    #fd957d 85%
  );
}
